.content-wrapper {
  max-width: 100%;
  min-height: 100%;
  height: auto;
  margin: auto;
  background-color: rgb(218, 209, 209);
  box-shadow: 2px 2px 5px #888888;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text-area-wrapper{
  height: 95vh;
  box-sizing: border-box;
  margin: 5%;
}

.user-interface-wrapper {
  margin: 5%;
  width: 20%;
}

.face-scanner-wrapper,
.user-interface-wrapper,
.text-area-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.face-scanner-wrapper *,
.user-interface-wrapper *,
.text-area-wrapper * {
  height: 100%;
  width: 100%;
}

.media-wrapper {
  position: relative;
  max-width: 65%;
  border: 5px black solid;
}

.label-green {
  color: green;
}

.label-red {
  color: red;
}

.add-face-div {
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

