html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.main-container {
    background: var(--darkest-grey);
    flex: 1;
    overflow: auto;
}


.hidden {
    display: none;
}


.setting-container {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}


.setting-container .setting-toggle:enabled {
    background-color: var(--light-grey);
}

.setting-container> :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.setting-container>:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    height: 70%;
    padding: 5%;
    gap: 5%;
    /* add media q  */
}

.content-wrapper .left-column,
.content-wrapper .right-column {
    background-color: var(--dark-grey);
    box-shadow: 0px 0px 30px 0px var(--light-grey);
    border-radius: 3%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}

.content-wrapper .left-column {
    gap: 4%;
}

.content-wrapper .right-column {
    align-items: center;
}

.left-column .upper-container {
    /* background-color: var(--light-grey); */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 3%;


}

.upper-container .tab-btns {
    display: flex;
    margin-top: 2%;
}


.upper-container .tab-btns>*:enabled {
    flex: 1;
    width: 100%;
    margin-right: 0;
    background-color: var(--light-grey);
}

.upper-container .tab-btns>:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.upper-container .tab-btns>:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.upper-container .start-stop-wrapper,
.upper-container .reference-settings {
    margin-top: 10%;
    width: fit-content;
}

.start-btn {
    background-color: rgb(29, 197, 29);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.stop-btn {
    background-color: var(--primary-red);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -3%;

}

.left-column .reference-settings .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.left-column .reference-settings .btn-container > *  {
    border-radius: 0;
}

.left-column .reference-settings .btn-container> :first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.left-column .reference-settings .btn-container> :last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.left-column .reference-settings .btn-container>*:enabled {
    background-color: var(--light-grey);
}

.content-wrapper .lower-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;

}

textarea {
    height: 80%;
    width: 80%;
    border-radius: 3%;
    color: white;
}

.video-container {
    position: relative;
}

.image-container {
    position: relative;
}

button:disabled {
    background-color: #d3d3d3;
    color: #808080;
    cursor: not-allowed;
}